@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: black;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    flex-wrap: wrap;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 900px;
}

.resumo {
    background-color: #6c63ff;
    color: white;
    padding: 20px;
    width: 50%;
    position: relative;
}

.resumo h2 {
    background-color: #6c63ff;
    margin: 0 0 10px;
    display: flex;
    align-items: center;
}

.resumo h2::before {
    content: "🛒";
    font-size: 24px;
    margin-right: 10px;
}

.detalhes-pagamento {
    background-color: #ffffff;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detalhes-pagamento h2 {
    background-color: #ffffff;
    margin: 0 0 20px;
}

.input-container {
    background-color: #ffffff;
    margin-bottom: 15px;
}

.input-container label {
    background-color: #ffffff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.pay-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pay-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.pay-button:active {
    transform: scale(0.95);
}

.error {
    background-color: #ffffff;
    color: red;
}

.input-container {
    margin: 10px 0;
}

.payment-methods {
    background-color: #ffffff;
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
}

.payment-methods img {
    max-width: 75px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s;
    object-fit: contain;
    transition: all 0.2s ease-in-out;
}

.payment-methods img:hover {
    transform: scale(1.1);
}

.payment-methods img.selected {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #007bff;
    transform: scale(1.05);
}

.selected-payment {
    border: 2px solid #007bff;
    filter: brightness(1.2);
}

.order-summary-item {
    background-color: #6c63ff;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.order-summary-item span {
    background-color: #6c63ff;
}

.spacing {
    height: 20px;
}

.back-button {
    position: absolute;
    background-color: #ffffff;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    background: #2e2e2e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.back-button:hover {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    background-color: #ffffff;
    transform: scale(1.1);
}

/* TELA PARA CONFIRMAÇÃO */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

h2 {
    background-color: #ffffff;
    margin: 0 0 10px;
}

p {
    background-color: #ffffff;
}

.buttons {
    background-color: #ffffff;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#noButton {
    background-color: #ccc;
}

#noButton:hover {
    background-color: #aaa;
    transform: scale(1.05);
}

/* TELA PARA CONFIRMAÇÃO DO PIX */


.pix-payment {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button1 {
    margin-top: 17px;
    background-color: #ffffff;
    border: none;
    font-size: 10px;
    cursor: pointer;
    color: #ffffff;
}

.close-button1:hover {
    color: #cc0000;
}

.pix-payment h2 {
    margin: 0;
    font-size: 18px;
}

.qr-code {
    margin: 15px 0;
    font-size: 16px;
}

.pix-payment p {
    font-weight: 600;
    margin: 5px 0;
}

.pix-payment button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pix-payment button:hover {
    background-color: #0056b3;
}

/* COPIAR PIX */

.alert {
    display: none;
    position: fixed;
    top: 20px;
    right: 740px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* PAGAMENTO VIA BOLETO */

#boleto-payment-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 2000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boleto-payment {
    text-align: center;
    width: 100%;
}

.boleto1-payment {
    background-color: #ffffff;
}

#boleto-code {
    margin-top: 20px;
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    resize: none;
    background-color: #fafafa;
}

.copy-button {
    margin-top: 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #0056b3;
}

.alert-box {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    z-index: 2001;
}

.btn-button {
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: 43px;
    right: 10px;
    border-radius: 5px;
    padding: 4px 10px;
    transition: background-color 0.3s;
}

.btn-close:hover {
    background-color: #218838;
}

.header h2 {
    margin-top: 20px;
    font-size: 18px;
}


@media (max-width: 1200px) {
    .back-button-container {
        display: none;
    }

    .resumo,
    .detalhes-pagamento {
        width: 100%;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}

@media (max-width: 800px) {
    .container {
        overflow-y: auto;
        max-height: 100vh;
    }

    .detalhes-pagamento {
        order: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        flex-grow: 1;
    }

    .resumo {
        order: 2;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .pay-button {
        margin-left: 0px;
        padding: 15px;
        font-size: 1.2rem;
        border-radius: 8px;
        background-color: #4CAF50;
        color: white;
        border: none;
        transition: background-color 0.3s;
        width: 100%;
    }

    .pay-button:hover {
        background-color: #45a049;
    }

    .meu-carrinho {
        padding: 10px;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
        border-radius: 8px;
        margin-top: auto;
    }
}

@media (max-width: 600px) {
    .container {
        overflow-y: auto;
        max-height: 100vh;
    }

    .resumo h2,
    .detalhes-pagamento h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .payment-methods img {
        max-width: 70px;
        margin: 0 auto;
        display: block;
    }

    .pay-button {
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button.comprar {
        width: 100%;
        padding: 15px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1.2rem;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    button.comprar:hover {
        background-color: #45a049;
        transform: scale(1.1);
    }
}