* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: black;
}


html {
    height: 200vh;
}

.logo-link {
    display: inline-block;
}

.logo-link img {
    width: 150px;
    transition: transform 0.3s;
}

.logo-link:hover img {
    transform: scale(1.1);
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.navbar ul a:hover {
    color: #3399ff;
}

.navbar ul a {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 90px;
}

.navbar ul a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: .3s;
}


.navbar ul a:hover::before {
    width: 100%;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-button {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.login-button:hover {
    background-color: #3399ff;
    transform: scale(1.05);
}

body {
    font-family: Arial, sans-serif;
    background-color: black; /* Light grey background */
    margin: 0;
    padding: 40px;
    color: #333;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cor_texto {
    color: #b200b2;
}

.container {
    max-width: 800px;
    margin: 10% auto; 
    background: black;
    line-height: 1.6; 
    padding: 20px; 
    color: white; 
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 20px; 
}