@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: black;
}


html {
    height: 400vh;
}

.menu-toggle {
    display: none;
}

.menu-button {
    display: none;
    background-color: #3399ff;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-button:hover {
    color: #000000;
    background-color: #ffffff;
    transform: scale(1.1);
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    padding-top: 50px;
    transition: right 0.3s ease;
    z-index: 999;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 20px;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #3399ff;
}

.menu-toggle:checked~.sidebar {
    right: 0;
}

.logo-link {
    display: inline-block;
}

.logo-link img {
    width: 150px;
    transition: transform 0.3s;
}

.logo-link:hover img {
    transform: scale(1.1);
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul a {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.3s;
}

.navbar ul a:hover {
    color: #3399ff;
}

.navbar ul a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
}

.navbar ul a:hover::before {
    width: 100%;
}

.login-button {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
}

.login-button:hover {
    background-color: #3399ff;
    transform: scale(1.05);
}

/* Responsividade Cabeçalho */

@media (max-width: 909px) {

    .menu-button {
        display: inline-block;
    }

    .navbar {
        display: none;
    }

    .login-button {
        display: none;
    }

}

.main {
    flex-direction: column;
    max-width: 100%;
    margin-top: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    flex-wrap: wrap;
}

.text {
    background-color: #000000;
    color: #ffffff;
}

.text>h1 {
    font-size: 80px;
}

.text>h1>span {
    color: #b200b2;
}

.text_button {
    margin-top: 3rem;
}

.text_button>a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #011094;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.text_button a:hover {
    color: #000000;
    background-color: #ffffff;
    transform: scale(1.1);
}

.about {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.about>h1 {
    font-size: 37px;
    color: #ffffff;
}

.bar0 {
    width: 7%;
    height: 4px;
    background-color: white;
    margin: 0;
    border-radius: 10px;
}

.bar2 {
    width: 3%;
    height: 4px;
    background-color: white;
    margin: 4px;
    border-radius: 10px;
}

.about2 {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.about2>img {
    max-width: 100%;
    width: 700px;
    gap: 60px;
}

.card_text2 {
    height: 700pxs;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px;
    background-color: #000000;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    margin: 20px;
}

.about_text2 {
    background-color: #ffffff;
    color: #ffffff;
}

.about_text2>h1 {
    font-size: 40px;
}

/* Responsividade Corpo (Body) */

@media (max-width: 1200px) {
    .text>h1 {
        margin-top: 10rem;
        font-size: 60px;
    }

    .about {
        margin-top: 10rem;
    }
}

@media (max-width: 768px) {
    .main {
        margin-top: 10rem;
    }

    .text>h1 {
        font-size: 40px;
    }

    .text_button>a {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .about>h1 {
        font-size: 30px;
    }

    .about2 {
        flex-direction: column;
        gap: 20px;
    }

    .about2>img {
        width: 90%;
    }

    .card_text2 {
        width: 90%;
        padding: 30px 10px;
    }
}


@media (max-width: 480px) {
    .text>h1 {
        font-size: 30px;
    }

    .text_button>a {
        padding: 8px 16px;
        font-size: 0.8rem;
    }

    .about>h1 {
        font-size: 24px;
    }

    .card_text2 {
        padding: 20px 10px;
    }

    .about2>img {
        width: 100%;
    }

    .bar,
    .bar2 {
        width: 10%;
    }
}


/* -------- CARDS -------- */

.card2 {
    padding: 10px;
    margin: 20px;
    background-color: #ffffff;
    width: 600px;
    height: 90px;
    border-radius: 10px;
    transition: transform 0.5s;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
}

.card2:hover {
    transform: scale(1.1);
    background-color: #ffffff;
}

/* -------- CARD 1 -------- */

.card_sub1 {
    display: flex;
    background-color: #ffffff;
}

.card_sub1 img {
    margin-top: 10px;
    display: flex;
    background-color: #ffffff;
    width: 60px;
}

.card_sub1>h1 {
    margin-top: 10px;
    display: flex;
    background-color: #ffffff;
    font-size: 12px;
}

/* -------- CARD 2 -------- */

.card_sub2 {
    display: flex;
    background-color: #ffffff;
}

.card_sub2 img {
    margin-top: 10px;
    display: flex;
    background-color: #ffffff;
    width: 60px;
}

.card_sub2>h1 {
    margin-top: 10px;
    display: flex;
    background-color: #ffffff;
    font-size: 12px;
}

/* -------- CARD 3 -------- */

.card_sub3 {
    display: flex;
    background-color: #ffffff;
}

.card_sub3 img {
    margin-top: 10px;
    display: flex;
    background-color: #ffffff;
    width: 60px;
}

.card_sub3>h1 {
    margin-top: 10px;
    display: flex;
    background-color: #ffffff;
    font-size: 12px;
}

/* -------- RESPOSIVIDADE DOS CARDS ------- */


@media screen and (max-width: 642px) {
    .card2 {
        padding: 8px;
        margin: 5px auto;
        width: 95%;
        height: auto;
        border-radius: 5px;
    }

    .card_sub1,
    .card_sub2,
    .card_sub3 {
        flex-direction: column;
        align-items: center;
    }

    .card_sub1 img,
    .card_sub2 img,
    .card_sub3 img {
        margin-bottom: 5px;
        width: 50px;
    }

    .card_sub1 h1,
    .card_sub2 h1,
    .card_sub3 h1 {
        font-size: 9px;
        text-align: center;
    }
}

/* -------- BLOGS DE VIAGENS ------- */

.blog-section {
    text-align: center;
    margin: 50px 0;
}

.blog-section h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.blog-section p {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 20px;
}

.blog-section .bar {
    width: 100px;
    height: 5px;
    background: #FF6F61;
    margin: 0 auto 20px;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.blog-card {
    width: 300px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
}

.blog-card:hover {
    transform: scale(1.1);
}

.blog-card img {
    background-color: #ffffff;
    width: 100%;
    height: 180px;
    padding: 11px;
    object-fit: cover;
    border-radius: 20px;
}

.blog-card h2 {
    background-color: #ffffff;
    font-size: 1.5rem;
    margin: 15px;
    color: #333;
}

.blog-card p {
    background-color: #ffffff;
    font-size: 1rem;
    margin: 0 15px 15px;
    color: #555;
}

.blog-card .read-more {
    background-color: #ffffff;
    display: block;
    text-decoration: none;
    color: #FF6F61;
    font-weight: bold;
    margin: 0 15px 15px;
}

/* -------- POLITICA DE VIAGENS ------- */

.travel-policy {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.travel-policy h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

.bar {
    width: 80px;
    height: 4px;
    background-color: #4CAF50;
    margin: 0 auto 20px;
    border-radius: 2px;
}

.policy-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.policy-column {
    flex: 1;
}

.policy-item {
    background: #000000;
    border-left: 6px solid #4CAF50;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.policy-item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.policy-icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-right: 10px;
}

.policy-content {
    flex: 1;
}

.policy-item h2 {
    font-size: 1.2em;
    color: #4CAF50;
    margin-bottom: 5px;
}

.policy-item p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #ffffff;
}


@media (max-width: 768px) {

    .policy-list {
        flex-direction: column;
    }

    .policy-column {
        flex: none;
    }
}

/* -------- FAQ E PERGUNTAS ------- */
.faq-title {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.faq-container {
    max-width: 800px;
    margin: auto;
}

.faq {
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faq h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    color: #007bff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.faq h3.active {
    background-color: #e9ecef;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.icon {
    transition: transform 0.3s ease
}

.faq h3.active .icon {
    transform: rotate(180deg);
}

.faq-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.faq-content.show {
    display: block;
    opacity: 1;
}

.faq-content p {
    font-weight: 700;
    background-color: #ffffff;
    color: #000000;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
}


/* -------- LOGO DE CARREGAMENTO ------- */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.logo {
    width: 150px;
    height: 150px;
    background: none;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    animation: rotate 3s linear infinite, bounce 2s ease-in-out infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.loading-bar {
    position: relative;
    width: 300px;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    border-radius: 5px;
}

.loading-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: white;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.loading-text {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
}

.content {
    display: none;
}

/* -------- RODAPÉ (FOOTER) ------- */

.footer {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.438);
    margin-bottom: 20px;
    margin-top: 40px;
}

.footer .logo-footer img {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.footer nav {
    margin-bottom: 10px;
}

.footer nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


.footer .social-icons {
    margin: 20px 0;
}

.footer .social-icons a {
    font-size: 24px;
    /* Tamanho dos ícones */
    color: #ffffff;
    /* Cor dos ícones */
    margin: 0 5px;
    /* Margem entre os ícones */
    transition: transform 0.3s, color 0.3s;
    /* Transição suave */
    text-decoration: none;
    /* Remove sublinhado do link */
}

.footer .social-icons a:hover {
    color: #007bff;
    /* Cor ao passar o mouse */
    transform: scale(1.2);
    /* Aumenta o tamanho ao passar o mouse */
}

.footer .copyright {
    background-color: #ffffff00;
    color: white;
    margin-top: 30px;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

@media (max-width: 600px) {
    .footer nav a {
        margin: 0 5px;
        font-size: 12px;
    }

    .footer .social-icons a {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}